.season-display .icon-left,
.season-display .icon-right {
	position: absolute;
}

.season-display .icon-left {
	left: 10px;
	top: 10px;
}

.season-display .icon-right {
	bottom: 10px;
	right: 10px;
}

.season-display.winter i {
	color: #c0ffee;
}

.season-display.summer i {
	color: #bada55;
}

.season-display {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}

.season-display.winter {
	background-color: snow;
}

.season-display.summer {
	background-color: papayawhip;
}
