{
	"arrowParens": "avoid",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true
}
